name: Deploy production

on:
push:
branches:
- main

jobs:
deploy:
runs-on: ubuntu-latest

```
steps:
  - name: Deploy via SSH
    uses: appleboy/ssh-action@v1.0.3
    with:
      host: ${{ secrets.SSH_HOST }}
      username: ${{ secrets.SSH_USER }}
      key: ${{ secrets.SSH_KEY }}
      port: 22

      script: |
        set -e

        cd ~/ivonal

        echo "Git pull"
        git pull origin main

        echo "Composer"
        composer install --no-dev --optimize-autoloader

        echo "Node build"
        npm ci
        npm run build

        php artisan migrate --force
        php artisan config:cache
        php artisan route:cache
        php artisan view:cache

        echo "Sync public"
        rsync -av --delete public/ ~/public_html/
```
